@font-face {
    font-family: 'Kumbh Sans';
    src: url(font/KumbhSans-Regular.ttf);
}

@font-face {
    font-family: 'Kumbh Sans Light';
    src: url(font/KumbhSans-Light.ttf);
}

@font-face {
    font-family: 'Kumbh Sans Bold';
    src: url(font/KumbhSans-SemiBold.ttf);
}

body{
    display: flex;
    justify-content: center;
    background-color: white;
    font-family: 'Kumbh Sans';
    align-items: center;
}

/* *************** nav section ****************/

.page_wrap{
    position: relative;
    width: 1440px;
    align-self: center;
    justify-self: center;
    height: 96vh;
}

@media only screen and (max-width: 960px) {
    .page_wrap{
        display: flex;
        justify-content: center;
        position: relative;
        width: 375px;
        height: 830px;
        overflow: hidden;
        background-color: white;
    }
}

.navbar_menu{
    width: 150px;
    position: absolute;
    top: 2.5rem;
    left: 18rem;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    font-size: 14px;
    font-family: 'Kumbh Sans Thin';
    font-weight: lighter;
}

.logosh{
    position: absolute;
    left: 8.9rem;
    top: 3.1rem;
}

.navbar_links {
    color: #959595;
    margin-bottom: 1.5rem;
    text-decoration: none;
}

.navbar_links:hover{
    text-decoration:underline;
    text-underline-offset: 3.24rem;
    text-decoration-thickness: 4px;
    text-decoration-color: hsl(26, 100%, 55%);
    cursor: pointer;
}

@media screen and (max-width: 960px)  {

    .navbar_menu {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
        padding: 0;
        position: absolute;
        top: -1000px;
        opacity: 1;
        z-index: -1;
        transition: all 0.5s ease;
    }
    
    .navbar_menu.active{
        background: #ffffff;
        top: 1rem;
        left: 0rem;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 2;
        font-size: 1rem;
        width: 250px;
        
    }

    .navbar_links{
        text-align: left;
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 2rem;
        margin-top: 3rem;
        color: rgb(70, 27, 163);
     
    }
    
    #mobile-menu{
        position: absolute;
        top: .8rem;
        left: 5%;
        transform: translate(5%, 20%);
        z-index: 4;
    }

    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
        width: 20px;
        height: 3px;
        margin: 4px auto;
        transition: all 0.3s ease-in-out;
        background: #909090;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform:translateY(9px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-5px) rotate(-45deg);
    }

    .navbar_links:hover{
        text-decoration: none;
        cursor: pointer;
        color: hsl(26, 100%, 55%);
    }
}

.linez{
    position: absolute;
    left: 8.9rem;
    top: 7.5rem;
    height: .6px;
    width: 1150px;
    background-color: rgb(221, 221, 221);
}

.user_img{
    position: absolute;
    top: 2.4rem;
    right: 9rem;
    height: 3rem;
    width: 3rem;
}

.user_img:hover{
    cursor: pointer;
    border: 2px solid;
    border-radius: 100%;
    border-color: hsl(26, 100%, 55%);
}

.the_cart{
    position: absolute;
    right: 15rem;
    top: 3.4rem;
}

.the_cart:hover{
    cursor: pointer;
}

 /* ************** main section imgages **************** */
.main_contents{
position: relative;
top: 2.3rem;
display: flex;
align-items: center;
justify-content: center;
}

.image_container{
    position: relative;
}

.lightThumbList{
    display: none;
    z-index: 40;
}

.lightThumbs{
    width: 94px;
    border-radius: 10px;
    display: none;
}

.thumblist{
    position: absolute;
    top: 41.8rem;
    left: 10rem;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 200px;
    column-gap: 1.4rem;
}

.thumblist li{
    width: 6rem;
}

.thumbnailz{
    width: 94px;
    border-radius: 10px;
    display: block;
}

.thumbnailz:hover{
    cursor: pointer;
    opacity: .5;
}

.larges{
    position: absolute;
    width: 446px;
    height: 29rem;
    border-radius: 1rem;
    top: 12rem;
    left: 12.6rem;
    display: block;
    z-index: 40;
}

.larges:hover{
    cursor: pointer;
}

.larges{
    position: absolute;
}

.activeThumb{
    opacity: .4;
    border: 3px solid hsl(26, 100%, 55%);
}

.lightBox{
    position: absolute;
    min-height: 100%;
    width: 100%;
    background-color: black;
    opacity: .8;
    z-index: 30;
    display: none;
}

.lightBox[data-boolean="true"]{
    display: flex;
    justify-content: center;
    align-items: center;
}

.largeImg{
    position: relative;
    left: 0;
    right: 0;
    top: 6rem;
    align-self: center;
    width: 550px;
    height: 550px;
    align-self: center;
}

.centerThumb{
    display: flex;
    align-self: center;
    justify-self: center;
    z-index: 50;
    position: relative;
    top: 7rem;
    left: 0;
}

.imgBtns{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    gap: 31rem;
}

.nextBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    z-index: 100;
    position: relative;
    top: 1.5rem;
    cursor: pointer;
} 


.previousBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 100%; 
    z-index: 100;
    position: relative;
    top: 1.5rem;
    cursor: pointer;
    
}

.nextBtn:hover .nextStroke{
    stroke: orange;
}

.previousBtn:hover .prevStroke{
    stroke: orange;
}

.closeLightBox{
    position:absolute;
    top: 6rem;
    margin-left: 32rem;
    justify-self: right;
    align-self: right;
    fill: orange;
    z-index: 200;
    display: none;
}

.closeLightBox:hover .closeFill{
    fill: orange;
    stroke: rgb(223, 145, 0);
    fill-rule: evenodd;
    cursor: pointer;
}

@media only screen and (max-width: 960px){
    .user_img{
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        height: 1.5rem;
        width: 1.5rem;
    }

    .the_cart{
        position: absolute;
        top: 1.2rem;
        right: 4rem;
    }

    .logosh{
        position: absolute;
        left: 3.8rem;
        top:1.2rem;
        width: 8rem;
        height: 1;
    }

    .thumbnailz{
        display: none;
    }

    .linez{
        display: none;
    }
}

/* ******************** cart area  **************** */

.cartnumber{
    width: 1.5rem;
    height: 1rem;
    background-color: hsl(26, 100%, 55%);
    border-radius: 6px;
    text-align: center;
    color: white;
    font-size: smaller;
    position: absolute;
    top: -13.1rem;
    right: 1.5rem;
    display: none;
}

.cart_close{
    font-size: 1rem;
    color: rgb(154, 154, 154);
    position: absolute;
    right: 1rem;
    top: .8rem;
}

.cart_close:hover{
    color: orange;
    cursor: pointer;
}

.cart_box{
    position: absolute;
    top: -8.6rem;
    right: -5rem;
    width: 21.5rem;
    height: 17rem;
    background-color: white;
    border-radius: 5px;
    display: none;
    box-shadow: 0 0 5px 2px rgb(206, 205, 205);
}

@media only screen and (max-width: 960px){
    .cart_box{
        position: absolute;
        top: -17rem;
        left: 1rem;
        z-index: 4;
    }
}

.cart_line{
    background-color: #e6e6e6;
    width: 21.5rem;
    height: 1px;
    position: absolute;
    top: 4.7rem;
}

.cart_p1{
    position: absolute;
    top: 0.8rem;
    left: 1.5rem;
    font-weight: 550;

}

.cart_p2{
    font-weight: 500;
    position: absolute;
    top: 8rem;
    left: 6.5rem;
    color: rgb(163, 163, 163);
    display: block;
}

.checkoutbtn{
    position: absolute;
    left: 1.24rem;
    height: 3.5rem;
    top: 12rem;
    border: none;
    width: 19rem;
    text-align: center;
    border-radius: 10px;
    color: white;
    background-color: hsl(26, 100%, 55%);
}

.cart_img{
    position: absolute;
    top: 5.9rem;
    left: 1.24rem;
    border-radius: 5px;
    height: 5rem;
}

.cart_p3{
    position: absolute;
    top: 5.4rem;
    left: 7rem;
    color: #9c9b9b;
    font-size: 15px;
}

.checkout_deletebtn{
    position: absolute;
    left: 19.5rem;
    top: 7.5rem;
}

.cart_p4{
    position: absolute;
    top: 7rem;
    left: 7rem;

}

.bolden_sum{
    position: absolute;
    left:  11.8rem;
    top: 7rem;
    font-weight: bolder;
}

.cart_filled{
    display: none;
}

@media only screen and (max-width: 960px){
    .cartnumber{
        position: absolute;
        top: -21.7rem;
        right: 3.5rem;
    }
}

/* ******************************** Main product description section ***************** */

.describe{
    display: flex;
    justify-content: right;
    position: absolute;
    top: 15rem;
    right: 11.5rem;
}
.p1{
    color: hsl(26, 100%, 55%);
    font-size: 14px;
    letter-spacing: 3px;
}

.p2{
    font-size: 3rem;
    font-weight: 700;
    margin-top: 1rem;
    font-family: 'Kumbh Sans Bold';
}

.p3{
    color: hsl(219, 9%, 45%);
    width: 500px;
    letter-spacing: 1px;
    line-height: 30px;
    margin-top: -1.5rem;
    font-family: 'Kumbh Sans Light';
}

.p4{
    margin-top: 1.7rem;
    font-size: 1.7rem;
    font-weight: bold;
}

.p5{
    color: hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%);
    width: 3.2rem;
    height: 1.2rem;
    text-align: center;
    border-radius: 3px;
    height: 1.5rem;
    padding-top: -5rem;
    position: relative;
    top: -3.5rem;
    right: -7rem;
}

.p6{
    margin-top: -4rem;
    color: hsl(220, 14%, 75%);
    text-decoration: line-through;
    font-size: 1.1rem;
    font-weight: 500;
}

.carting{
    position: absolute;
    top: 25rem;
    right: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.plus_minus{
    position: absolute;
    width: 9.7rem;
    height: 3.3rem;
    background-color: hsl(240, 9%, 94%);
    text-align: center;
    border-radius: 10px;
}

.addcart{
    position: relative;
    width: 18rem;
    height: 3.3rem;
    right: -10.7rem;
    border-radius: 10px;
    border-style: none;
    color: white;
    background-color: hsl(26, 100%, 55%);
    font-size: 1rem;
}

.addcart:hover{
    cursor: pointer;
    opacity: .6;
}

.minus_btn{
    position: relative;
    left: -3rem;
    top: -5.6rem;
    font-size: 2rem;
    font-weight: bolder;
    color: hsl(26, 100%, 55%);
}

.plus_btn{
    font-size: 1.7rem;
    font-weight: bolder;
    color: hsl(26, 100%, 55%);
    position: relative;
    top: -1.3rem;
    right: -3rem;
    z-index: 5;
}

.plus_btn:hover{
    cursor: pointer;
}

.minus_btn:hover{
    cursor: pointer;
}

.quantity{
    position: absolute;
    top: 0rem;
    left: 4.5rem;
}

.zero_quantity_error{
    color: rgb(255, 0, 0);
    position: absolute;
    top: 22rem;
    display: none;
}

@media only screen and (max-width: 960px){
    .describe{
        display: flex;
        justify-content: center;
        position: absolute;
        top: 21.5rem;
        left: .01rem;
        width: 100%;
    }

    .p1{
        font-size: .9rem;
        margin-top: 2rem;
    }

    .p2{
        font-size: 1.7rem;
        margin-top: .6rem;
       
    }

    .p3{
        font-size: .9rem;
        margin-top: -13px;
        width: 20rem;
    }

    .p4{
        font-size: 1.5rem;
        position: relative;
        top: -.5rem;
    }

    .p5{
        margin-top: -.2rem;
        margin-left: -.8rem;
    }

    .p6{
        margin-top: -6rem;
        position: relative;
        right: -16.6rem;
        font-size: .9rem;
    }

    .carting{
        display: grid;
        grid-template-columns: 1fr;
    }

    .plus_minus{
        position: absolute;
        top: -4rem;
        right: -8.2rem;
        width: 20rem;
    }

    .addcart{
        position: absolute;
        top: .4rem;
        right: -8.2em;
        width: 20rem;
    }

    .plus_btn{
        position: absolute;
        right: 1.5rem;
        top: -1.3rem;

    }

    .minus_btn{
        position: absolute;
        left: 1.5rem;
        top: -1.8rem;
    }

    .quantity{
        position: absolute;
        left: 9.5rem;
    }

    .zero_quantity_error{
        position: absolute;
        top: 18.5rem;
    }
}
